
@{
    ViewData["Title"] = "Inicio";
}

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="https://fv9-6.failiem.lv/thumb_show.php?i=rwekptu7m&view" align="right" style="width:580px; height:198px;" />
</div>
<div aling="left">
    <br/>
    <h1 >Bienvenido a la pagina </h1>
    <p> para la utilizacion de los documentos debe de ingresar por este medio</p>
    
</div>


<button type="button" class="btn btn-primary">
    <a class="nav-link text-white" href="/Home/Privacy">INGRESAR</a>
</button>

